body{
    background-color: lightblue
}

header{
    background-color: aquamarine;
    color: purple;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
color: purple;
font-size:20px;
text-align: center; 

  padding-bottom: 20px;   
  padding-top: 20px;

}


.container{
  display: flex;
}
.card-img-top{
  max-height: 200px;
}
.container .card{
  margin: 2px;
}

h2{
  color: red;
  font-size: 40px;
  padding-bottom: 20px;   
  padding-top: 20px;



}
.img-fluid{
    max-height: 500px;
}
.nav {
    display:flex;
    justify-content: center;

}

.nav-link{
  text-decoration: none;
}